:root {
    --main-text-color: #135b5c;
    --main-fill-color: #ffae42;
    --field-outline: #0a3031;
    --left-side-width: 40vw;
    --right-side-width: 60vw;

}
html, body {
    margin: 0px;
    padding: 0px;
} 
body {
    display: flex;

    width: 100vw;
    height: 100vh;


}
h1 {
    color: black;
}

.intro {
    margin-top: 50px;
    padding-left: 20px;
    width: calc(var(--right-side-width) * calc(2/3));
    font: 20px bolder;
    
}
p:nth-child(1) {
    margin-bottom: 0;
}
p:nth-child(2) {
    margin-top: 0;
}
.img-container {
    background-image: url("img/pines.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--left-side-width);
}

.header {
    padding-left: 20px;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #e6edec;

}
.form-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}
.details {
    
    display: flex;
    flex: 1;
    flex-basis: 40%;
    flex-direction: column;
    

}
.buttons {
    padding: 20px;
    gap: 10px;
    
}
button {
    cursor: pointer;
    background-color:  var(--main-fill-color);
    width: 200px;
    height: 30px;
    border: 2px solid var(--main-fill-color);
    border-radius: 10px;
    color: white;
}
input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    
  }
  
input:invalid {
border-color: red;
}

input:valid {
border-color: var(--field-outline);
}

.alert{
padding-left: 20px;
}

.text-container {
color: var(--main-text-color);
width: var(--right-side-width);

}

a {
color: var(--field-outline);
font-weight: bold;
text-decoration: none;
}

a:hover {
color: var(--main-fill-color);
font-weight: bold;
text-decoration: none;
}

.login {
    margin-left: 20px;
}

