:root {

}
html, body {
    margin: 0px;
    padding: 0px;
} 
body {
    display: flex;

    width: 100vw;
    height: 100vh;


}
p {
    padding-left: 20px;;
}
.img-container {
    background-image: url("img/pines.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;

    

}

.header {
    padding-left: 20px;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #e6edec;
}
.form-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}
.details {
    
    display: flex;
    flex: 1;
    flex-basis: 40%;
    flex-direction: column;
    

}
.buttons {
    padding: 20px;
    gap: 10px;
    
}
button {
    cursor: pointer;
    background-color:  #ffae42;
    width: 200px;
    height: 30px;
    border: 2px solid #ffae42;
    border-radius: 10px;
    color: white;
}
input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: #135b5c;
  }

  .alert{
    padding-left: 20px;
  }